<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<header>
		<nav>
			<a href="{% url 'create_receipt' %}">Create Receipt</a>
			<a href="{% url 'create_category' %}">Create Expense Category</a>
			<a href="{% url 'create_account' %}">Create Account</a>
			{% if user.is_authenticated %}
			<ul>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
			{% else %}
			<ul>
				<li><a href="{% url 'signup' %}">Signup</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
			</ul>
			{% endif %}
		</nav>
	 </header>
	 {% block content %}

	 {% endblock content %}
</body>
</html>
