{% extends 'base.html' %}

{% block content %}

<main>
	<table>
		<thead>
			<tr>
			<th>Name</th>
			<th>Number of receipts</th>
			</tr>
		</thead>
		<tbody>
			{% for expense in expense_category %}
			<tr>
				<td>{{ expense.name }}</td>
				<td>{{ expense.receipts.all | length }}</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</main>
{% endblock content %}
