{% extends 'base.html' %}

{% block content %}

		<h1>My Receipts</h1>
		<table>
			<thead>
				<tr>
					<th>Vendor</th>
					<th>Total</th>
					<th>Tax</th>
					<th>Date</th>
					<th>Category</th>
					<th>Account</th>
				</tr>
			</thead>
			<tbody>
				{% for receipt_object in receipt_list %}
				<tr>
					<td>{{ receipt_object.vendor }}</td>
					<td>{{ receipt_object.total }}</td>
					<td>{{ receipt_object.tax }}</td>
					<td>{{ receipt_object.date|date:"m/d/y" }}</td>
					<td>{{ receipt_object.category.name }}</td>
					<td>{{ receipt_object.account.name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock content %}

